<% if user_signed_in? %>
  <% if current_user.admin? %>
    <!-- <li class="nav-item">
      <%#= link_to('Companies', companies_path, class: "nav-link") %>
    </li> -->
  <% end %>
  <li class="nav-item">
  <%= link_to('Attendance', attendances_path, class: "nav-link") %>
  </li>
  <li class="nav-item">
  <%= link_to('Users', users_path, class: "nav-link") %>
  </li>
  <li class="nav-item">
  <%= link_to('Time_offs' , time_offs_path, class: "nav-link") %>
  </li>
  <% end %>

