<% if user_signed_in? %>
  <% if current_user.admin? %>
    <!-- <li class="nav-item">
      <%#= link_to('Companies', companies_path, class: "nav-link") %>
    </li> -->
  <% end %>
  <li class="nav-item">
  <%= link_to('Attendance', attendances_path, class: "nav-link") %>
  </li>
  <li class="nav-item">
  <%= link_to('Users', users_path, class: "nav-link") %>
  </li>
  <!-- <li class="nav-item">
  <%#= link_to('Job Applications', job_applications_path, class: "nav-link") %>
  </li> -->
  <!-- <li class="nav-item">
  <%#= link_to('Interviews', interviews_path, class: "nav-link") %>
  </li> -->
<% end %>
