<style media="screen">
  .container {
    text-align: center;
  }
</style>
<% unless notice.blank? %>
  <div class="alert alert-info alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<center><h1>Attendances</h1></center>

<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render "index" %>
    </div>
    <div class="col-6">
      <% unless @time_in_present %>
        <%= link_to 'Log Time-In', log_time_in_users_path, class: "btn btn-primary" %>
      <% else %>
        <%= link_to('Log Time-Out', log_time_out_users_path, class: "btn btn-primary") unless @time_out_present %>
      <% end %>
    </div>
  </div>

</div>
