<style media="screen">
  .container {
    text-align: center;
  }
  .wrappable {
    overflow: hidden;
    max-width: 600px;
    word-wrap: break-word;
    text-align: justify;
  }
  .table th, .table td {
    vertical-align: middle;
  }
</style>
<% unless notice.blank? %>
  <div class="alert alert-info alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>


<center>
  <h2>Attendances</h2>
  <% unless @time_in_present %>
    <%= link_to 'Log Time-In', log_time_in_users_path, class: "btn btn-danger mb-3" %>
  <% else %>
    <%= link_to('Log Time-Out', new_comment_attendances_path, class: "btn btn-danger mb-3") unless @time_out_present %>
  <% end %>
</center>


<div class="container">
  <div class="row">
      <%= render "index" %>
  </div>
</div>
